/* 
    Created on : Apr. 28, 2021, 5:32:31 p.m.
    Author     : aaron
*/



body {
    border: 0 !important;
    margin: 0 !important;
}

h1 {
    padding: 0 !important;
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-decoration: underline;
    font-weight: bold;
    background-color: #d9edf7;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    vertical-align: bottom;
}

.showLabel label {
  float: left;
  text-align: left;
  width: 15px;
  padding-right: 12px;
  border-right: 2px solid black;
}

.showLabel table {
    border: 2px solid lightgrey !important;
}

.ui-chkbox {
    padding-left: 4px !important;
    width: 0px !important;
}

.pgrid table {
    border: 3px solid lightgrey;
    border-left-width: 0;
    border-right-color: grey;
    padding-right: 0;
}


